<a href="<%= pages_batman_path%>"><img class=col-md-6 src="<%= asset_path 'Batman.jpg'%>" alt=""></a>
<a href="<%= pages_superman_path%>"><img class=col-md-6 src="<%= asset_path 'Superman.jpg'%>" alt=""></a>
