<div class="image">

<img src="<%= asset_path 'Superman.jpg'%>" 
 <h2><span>Floto encima de la imagen:<span class='spacer'></span><br/><span class='spacer'></span>This looks like a
job for Superman</span></h2>

</div>


